html {
    font-family: Arial, Helvetica, sans-serif; 
    display: inline-block; 
    text-align: center;
  }
  h1 {
    font-size: 1.8rem; 
    color: whitesmoke;
  }
  p { 
    font-size: 1.4rem;
  }
  .topnav { 
    overflow: hidden; 
    background-color: #010102d0;
  }
  body {  
    margin: 0;
  }
  .content { 
    padding: 5%;
  }
  .card-grid { 
    max-width: 400px; 
    margin: 0 auto; 
    display: grid; 
    grid-gap: 2rem; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .card { 
    border-radius: 15px;
    background-color: white; 
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,.6);
  }
  .card-title { 
    font-size: 1.2rem;
    font-weight: bold;
    color: #000
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  }  