/* The side navigation menu */
#hamburger-menu {
  width: 20px;
  height: 20px;
  display: block;
  border: none;
  padding: 15px;
  margin: 0 0 0 15px;
  background: linear-gradient(
    to bottom, 
    white, white 20%, 
    black 20%, black 40%, 
    white 40%, white 60%, 
    black 60%, black 80%, 
    white 80%, white 100%
  );
  float: left;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: auto; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

html {
    font-family: Arial, Helvetica, sans-serif; 
    display: inline-block; 
    text-align: center;
    color: whitesmoke
  }
  h1 {
    font-size: 1.8rem; 
    color: whitesmoke;
    
  }
  p { 
    font-size: 1.4rem;
  }
  .topnav { 
    overflow: hidden; 
    background-color: #010102d0;
  }
  body {  
    margin: 0;
  }
  .content { 
    padding: 5%;
  }
  .card-grid { 
    max-width: 400px; 
    margin: 0 auto; 
    display: grid; 
    grid-gap: 2rem; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .card { 
    border-radius: 15px;
    background-color: white; 
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,.6);
  }
  .card-title { 
    font-size: 1.2rem;
    font-weight: bold;
    color: #000
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  } 